/* core geometry */

*, h1, h2, p {
    padding:0;
    margin:0;
    font-size: 12pt;

    -webkit-appearance: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;

    -webkit-box-sizing: border-box;

    -webkit-tap-highlight-color: transparent;

}

/* remove default safari style */
input, textarea {
  outline-style:none;
}

body {
    overflow: hidden;

    /* perf?? */
    text-shadow: 0px 1px 0px white;
}


.panel {
    overflow: hidden;
    position: absolute;

    /* allows borders to overlap neatly */
    -webkit-box-sizing: content-box;
}


.round-bottom {
    -webkit-border-bottom-left-radius: 9px;
    -webkit-border-bottom-right-radius: 9px;

    -moz-border-radius-bottomleft: 9px; 
    -moz-border-radius-bottomright: 9px; 
}

.round-top {
    -webkit-border-top-left-radius: 9px;
    -webkit-border-top-right-radius: 9px;

    -moz-border-radius-topleft: 9px; 
    -moz-border-radius-topright: 9px; 
}

.title-panel {
    -webkit-border-top-left-radius: 12px;
    -webkit-border-top-right-radius: 12px;

    -moz-border-radius-topleft: 12px; 
    -moz-border-radius-topright: 12px; 
}

.phone .title-panel {
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
}


.pop-up {
    border: 3px solid;
    border-color: black;
    z-index: 20;

    -webkit-border-bottom-left-radius: 12px;
    -webkit-border-bottom-right-radius: 12px;

    -moz-border-radius: 12px; 
    border-radius: 12px;

    -webkit-box-shadow: 0px 0px 20px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 0px 20px rgba(0,0,0,.8);
    box-shadow: 0px 0px 20px rgba(0,0,0,.8);
}


/* alpha might fuck up hw rendering */
.test-panel {
/*    background: rgba(150,0,0,.65);*/
      background: rgb(200,200,230);
}

.test-panel2 {
/*    background: rgba(0, 100, 0, .45); */
    background: rgb(200,230,200);
}



/* animation classes */
.anim-geom {
    

/*    
    -webkit-transition:  -webkit-transform, bottom,top,left,right, height, width, opacity;
        
    -webkit-transition-duration: 2s;
    
    -webkit-transition-timing-function: linear;
*/

    /* transitioning height means constanlty altering the content - needing a reflow */

    -webkit-transition: -webkit-transform, top,left, opacity;

    -webkit-transition-timing-function: linear;


/*
    -webkit-transition: bottom,top,left,right,height,width, border-color,border-spacing,border-width,padding,margin,z-index,opacity;
    -moz-transition: bottom,top,left,right,height,width,border-color,border-spacing,border-width,padding,margin,z-index,opacity;
    -o-transition: bottom,top,left,right,height,width,border-color,border-spacing,border-width,padding,margin,z-index,opacity;
    transition: bottom,top,left,right,height,width,border-color,border-spacing,border-width,padding,margin,z-index,opacity;


    -webkit-transition-duration: 0.4s; 
    -moz-transition-duration: 0.4s; 
    -o-transition-duration: 0.4s; 
    transition-duration: 0.4s;

*/

}


.anim-fade-only {
    -webkit-transition: z-index, opacity; 
    -moz-transition: z-index, opacity;
    -o-transition: z-index, opacity;
    transition: z-index, opacity;

    -webkit-transition-duration: .5s; 
    

    -moz-transition-duration: 0.3s; 
    -o-transition-duration: 0.3s; 
    transition-duration: 0.3s;
}
