
/*override scroll padding */

.field-list li {
    padding: 0;
    /*centers the text vertically */
    line-height: 45px;
}

.field-list {
    background: #e5e5e7;
}

.field-list h2{
    color: #666;
}

ul.field-list {
    padding: 20px;
    width: auto;
}

ul.field-list li {
    height: auto;
    min-height: 45px;
    
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    
    box-sizing: border-box;
    background-clip: border-box;

    background: white;
}

ul.field-list li.first {
    -webkit-border-top-left-radius: 7px;
    -webkit-border-top-right-radius: 7px;   
    border-top: 1px solid #ccc;
}

ul.field-list li.last {
    -webkit-border-bottom-left-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;   
 
}


ul.field-list li.break {
    border: 0px;
    background: transparent;
}


label {
    font-size: 15px;
    font-weight: bold;

    padding-left: 10px;

    display: block;
    width: 100%;
    height: 100%;
    float: left;

}

input, select {
    padding: 0;
    margin: 0;

    text-overflow: ellipsis;
    -webkit-user-select: text;

    font-size: 18px;
    
    border: 0px;
    width: 100%;
    height: 100%;

    text-shadow: none;

    display: block;
 
}

select {
    padding-left: 10px;
}

.mx-row {
    height: 45px;
    width: 100%;
}

.mx-label {
    height: 100%;
    width: 40%;
    float: left;

    background: #F3F3F3;
}


.mx-input {
 
    height: 100%;
    width: 55%;
    padding-left: 5px;
    float: left;
    position: relative;
}


.mx-input-end {
    float: right;
    height: 100%;
    width: 5%;
    min-width: 30px;
    
}


.first .mx-label {
    -webkit-border-top-left-radius: 7px;
}

.last .mx-label {
    -webkit-border-bottom-left-radius: 7px;
}